@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* see: https://www.cnblogs.com/lfri/p/11776320.html */
  font-family: "Helvetica Neue", Helvetica, Arial, "LXGW WenKai",
    "Hiragino Sans GB", "PingFang SC", "Heiti SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}

/* global scrollbar style */

/* firefox */
@supports (scrollbar-color: #8e8e8e transparent) {
  * {
    scrollbar-color: #8e8e8e transparent;
    scrollbar-width: auto;
  }
}

/* webkit (chrome, safari) */
::-webkit-scrollbar {
  background-color: transparent;
  width: 8px; /* only affects width or vertical scrollbar */
  height: 8px; /* only affects height of horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 5px;
}
